 @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap'); 

 :root{
   --very-dark-maginta: hsl(300, 43%, 22%);
   --soft-pink: hsl(333, 80%, 67%);
   --dark-grayish-magenta: hsl(303, 10%, 53%);
   --light-grayish-magenta: hsl(300, 24%, 96%);
   --white: hsl(0, 0%, 100%) 
 }
 
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 /* .container{
    width: 100vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
    
 } */

 

 .wrapper{
    width: 100vw;
    height: 60vh;
    align-items: center;
    justify-content: center;
    font-family: League Spartan;
    /* text-align: center; */
 }

 .flex{
   display: flex;
 }

 .left-text{
    width: 40%;
 }

 .left-text .heading{
    width:250px;
    color: var(--very-dark-maginta);
    font-family: League Spartan;
    font-weight: 700px;
   
 }

 .left-text .para1{
    width: 380px;
    margin-top: 12px;
    color: var(--dark-grayish-magenta);
 }
 
 .right-text{
    width:40%;
    /* margin-right: 50px; */
 }
  
 .rate1, .rate2,.rate3{
   background: var(--light-grayish-magenta);
   padding:7px ;
   margin-bottom: 12px;
   border-radius: 5px;
   width: 400px;
   text-align: center;
   
 }
  .rate-p{
   color: var(--very-dark-maginta) ;
   font-family: League Spartan;
   font-weight: 700;
  
  }
 
 .rate2{
   margin-left: 25px;
 }

 .rate3{
   margin-left: 50px;
 }

 img{
   margin-left: 3px;
   margin-right: 4px;
   width: 12px;
 }


 .profile-flex{
   width: 90%;
 }





.profile1,.profile2, .profile3{
   background-color:var(--very-dark-maginta);
   color: white;
   margin-left: 20px;
   border-radius: 5px;
     
}

.profile2{
   margin-top: 30px;
}

.profile3{
   margin-top: 60px;
}
.profile-info{
    margin: 10px;
}



.profile-img img{
    border-radius: 50%;
    width: 40px;
    height:40px;
    margin-top: 10px;
}


.profile-text{
    margin-left:10px ;
    position: relative;
    flex-basis: 30%;
    
}

.profile-text p{
    width: 250px;
      }

.profile-text h4{
  margin-top: 17px;
  font-weight: 700px;
  width: 100px;
  margin-bottom: 5px;
    }
    

.profile-text h5{
color: var(--soft-pink);


}


.profile-flex{
   align-items: center;
   justify-content: center;
   font-family: League Spartan;  
}


.tag{
    width: 280px;
   text-align: center;
   align-items: center;
   justify-content: center;
   margin: 15px;
   font-weight: 400px;
}


.attribution {
   font-size: 12px;
   text-align: center;
   margin-top: 10px;
 }
 .attribution a {
   color: hsl(228, 45%, 44%);
 }


/* Mobile View */
@media (max-width: 426px) {
   .flex-sm{
       flex-direction:column;
      }

      

      .left-text,.right-text{
         width: 70%;
      }

      .left-text .para1{
         width: 280px;   
      }

      .right-text{
         margin: 20px;
      }

      .left-text .heading{
        margin-top: 10px;
        
      }

      .rate1,.rate2,.rate3{
         padding: 15px;
         margin-bottom: 8px;
         border-radius: 3px;
         width: 300px;
         font-size: 14px; 
       }
        

       .rate2{
         margin-left: 0px;
       }
      
       .rate3{
         margin-left: 0px;
       }

       img{
        /* width: 12px;
        margin: 3px; */
        flex-direction: column;
       }

       .container{
         overflow: hidden;
       }


       .profile1,.profile2, .profile3{
        margin-top: 20px;
       }
   }